<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>QQ空间</title>
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="http://ctc.qzonestyle.gtimg.cn/qz-act/public/mobile/mobile_act_global.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="csss/<%= projectName%>.css">
<body>
	<!-- log和登录信息 开始 -->
	<div class="act_toolbar">
		<div class="toolbar_wrap">
			<a class="logo" title="QQ空间" href="#">
				<span>QQ空间</span>
			</a>
			<div class="user_info">
				<span class="tit_txt">欢迎你，</span>
				<span class="user_name"><%= author%></span>
				<a class="logout" href="#">[退出]</a>
			</div>
		</div>
	</div>
	<!-- log和登录信息 结束 -->
	<div class="qz-act">
		这里是具体内容区域
	</div>
	<!-- 版权 开始 -->
	<div class="footer">
		<div class="footer_wrap">腾讯公司 版权所有</div>
	</div>
	<!-- 版权 结束 -->
</body>
</html>